<?xml version="1.0"?>
<robot name="diablo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="base_link"/>
  <xacro:macro name="dummy_link_joint" params="name">
    <link name="${name}_link"/>
    <joint name="${name}" type="revolute">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="1.0" velocity="1.0"/>
    </joint>
  </xacro:macro>

  <xacro:dummy_link_joint name="joint1"/>
  <xacro:dummy_link_joint name="joint2"/>
  <xacro:dummy_link_joint name="joint3"/>
  <xacro:dummy_link_joint name="joint6"/>
  <xacro:dummy_link_joint name="joint7"/>
  <xacro:dummy_link_joint name="joint8"/>

  <ros2_control name="diablo_system" type="system">
    <hardware>
      <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
      <!-- Matatkan Torque Init agar motor menyala -->
      <param name="disable_torque_at_init">false</param>
      <!-- Matikan fungsi Sync Read paksa untuk menghindari error Out-of-bounds di alamat 634 -->
      <param name="use_sync_read">false</param>
      <param name="use_fast_sync_read">false</param>
      <param name="port_name">/dev/ttyUSB0</param>
      <param name="baud_rate">1000000</param>
      <param name="number_of_joints">6</param>
      <param name="error_timeout_ms">1000</param>
      <param name="dynamixel_model_folder">/param/dxl_model</param>
      <param name="number_of_transmissions">6</param>
      <param name="transmission_to_joint_matrix">
        1, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0,
        0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 1
      </param>
      <param name="joint_to_transmission_matrix">
        1, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0,
        0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 1
      </param>
    </hardware>

    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="joint3">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="joint6">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="joint7">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="joint8">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <gpio name="dxl1">
      <param name="type">dxl</param>
      <param name="ID">1</param>
      <command_interface name="Goal Position"/>
      <state_interface name="Present Position"/>
      <param name="Operating Mode">3</param>
      <param name="Position P Gain">800</param>
      <param name="Position I Gain">100</param>
      <param name="Position D Gain">100</param>
    </gpio>
    <gpio name="dxl2">
      <param name="type">dxl</param>
      <param name="ID">2</param>
      <command_interface name="Goal Position"/>
      <state_interface name="Present Position"/>
      <param name="Operating Mode">3</param>
      <param name="Position P Gain">800</param>
      <param name="Position I Gain">100</param>
      <param name="Position D Gain">100</param>
    </gpio>
    <gpio name="dxl3">
      <param name="type">dxl</param>
      <param name="ID">3</param>
      <command_interface name="Goal Position"/>
      <state_interface name="Present Position"/>
      <param name="Operating Mode">3</param>
      <param name="Position P Gain">800</param>
      <param name="Position I Gain">100</param>
      <param name="Position D Gain">100</param>
    </gpio>
    <gpio name="dxl6">
      <param name="type">dxl</param>
      <param name="ID">6</param>
      <command_interface name="Goal Position"/>
      <state_interface name="Present Position"/>
      <param name="Operating Mode">3</param>
      <param name="Position P Gain">800</param>
      <param name="Position I Gain">100</param>
      <param name="Position D Gain">100</param>
    </gpio>
    <gpio name="dxl7">
      <param name="type">dxl</param>
      <param name="ID">7</param>
      <command_interface name="Goal Position"/>
      <state_interface name="Present Position"/>
      <param name="Operating Mode">3</param>
      <param name="Position P Gain">800</param>
      <param name="Position I Gain">100</param>
      <param name="Position D Gain">100</param>
    </gpio>
    <gpio name="dxl8">
      <param name="type">dxl</param>
      <param name="ID">8</param>
      <command_interface name="Goal Position"/>
      <state_interface name="Present Position"/>
      <param name="Operating Mode">3</param>
      <param name="Position P Gain">800</param>
      <param name="Position I Gain">100</param>
      <param name="Position D Gain">100</param>
    </gpio>
  </ros2_control>

</robot>
